[Unit]
Description=gunicorn
daemon After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/movies
ExecStart=/home/ubuntu/movies/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/movies/movies.sock movies.wsgi:application

[Install]
WantedBy=multi-user.target